APP_PORT=8080
APP_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sigap_jalan
DB_SSLMODE=disable

JWT_SECRET=change-this-secret-before-production
JWT_EXPIRES_HOURS=24

SEED_ADMIN_EMAIL=admin@sigap.com
SEED_ADMIN_PASSWORD=admin123

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_EMAIL=your-email@gmail.com
SMTP_PASSWORD=your-app-password
